{
  "ibmcloud_api_key": $VALIDATION_APIKEY,
  "existing_kms_instance_crn": $HPCS_US_SOUTH_CRN,
  "kms_encryption_enabled_buckets": true,
  "region": "us-south",
  "prefix": $PREFIX,
  "existing_cos_instance_crn": $COS_INSTANCE_CRN,
  "enable_activity_tracker_event_routing_to_cloud_logs": true,
  "enable_activity_tracker_event_routing_to_cos_bucket": true
}
